- rank = nil unless defined?(rank)
- my = false unless defined?(my)
.thumbBox(class="#{'hot' if (1..3).include?(rank)}")
  .photoWrapper
    .thumbPhoto
      %a(href="#{yum_path(yum)}")
        = image_tag photo_url_with_yum(yum, :size => :thumb), :class => 'thumb'
    - if rank
      .rank
        ="#{rank}位"
  .meta(style="text-align: right;")
    %span.count
      %strong #{yum.yummy_count}ペコ
    %span.count
      %strong #{yum.view_count}ビュー
    %br
    %span.count
      %strong #{yum.comments_count}コメント
    %br
    at #{distance_of_time_in_words_to_now(yum.created_at)}前
    %br
    - if my
      = link_to '削除する', destroy_pecophoto_mypage_path(:yum_id => yum.id), :method => :delete, :confirm => '本当に削除してもよろしいですか？'
    - else
      - if yum.user
        from #{link_to yum.user.login, user_path(yum.user)}
      - else
        from twitter
