- title "ペコフォト - ラペコ 美味しそう！を共有するサービス"
- content_for :submenu do
  = render :partial => 'menu'
%h1= @h1
- cache @cache_key, :expires_in => 1.minutes do
  = will_paginate(@yums, :page_links => false, :previous_label => '&laquo; 前へ', :next_label => '次へ &raquo;', :renderer => SimpleLinkRenderer)
  .thumbListBox
    - @yums.each_with_index do |yum, index|
      - case action_name
      - when 'hot', 'popular'
        - rank = @yums.offset + index + 1
        = render :partial => 'yum', :locals => {:yum => yum, :rank => rank}
      - else
        = render :partial => 'yum', :locals => {:yum => yum, :rank => nil }
  = will_paginate(@yums, :page_links => false, :previous_label => '&laquo; 前へ', :next_label => '次へ &raquo;', :renderer => SimpleLinkRenderer)
  :javascript
    if($.browser.msie){
      $('.thumbBox:nth-child(5n)').css('margin-right','0px');
    }
    