<% title "ラペコに写真を投稿したい - ラペコ 美味しそう！を共有するサービス" %>

<div class='helpSection'>
  <%= render :partial => 'menu' %>
  <div id='helpContent'>
    <h2>ラペコに写真を投稿したい</h2>
    <p>
      自分で美味しそうな料理写真をラペコに載せたい場合は、「<%= link_to 'ペコフォトを投稿', new_yum_path %>」ページから、写真をアップロードしてください。
    </p>
    <p>
      <%= image_tag 'about/image_02.png', :class => 'capture' %>
    </p>
    <p>
      投稿するにはtwitterで「ラペコ」があなたの<a href="http://twitter.com">twitter</a>アカウントにアクセスする権利を承認していただく必要があります。
    </p>
    <p>
      <%= image_tag 'about/image_03.png', :class => 'capture' %>
    </p>
    <p>
      写真は<a href="http://twitpic.com/">Twitpic</a>にアップロードされ、メッセージはあなたの<a href="http://twitter.com">twitter</a>に投稿されます。 
    </p>
    <p>
      <%= image_tag 'about/image_04.png', :class => 'capture' %>
    </p>
  </div>
</div>
