<p>
  画像の数:<br />
  <%= @stats[:yums_count] %>
</p>
<p>
  ユーザーの数：<br />
  <%= User.count %> 人
</p>
<p>
  ユーザーの投稿した画像数：
  <%= Yum.count(:conditions => ['user_id != ?', 'NULL']) %>
</p>
<p>
  通報の多い画像:<br />
  <% for yum in @reports %>
  <div>
    <%= link_to image_tag(yum.image_url, :size => '150x150'), yum_path(yum) %>
    (<%= yum.report_count %>)<br />
    <%= link_to '表示させない', '#' %>
  </div>
  <% end %>
</p>
